@page
@model BookListRazor.Pages.BookList.CreateModel


<br />
<h2 class="text-info">Create New Book</h2>

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Book.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Book.Name" class="form-control"/>
            </div>
        </div>
    </form>
</div>